.body
{
    font-family: Apple Chancery, cursive, Arial, Helvetica, sans-serif;
}

/* Utilizaremos nuestros propios paneles, los cuales solo tienen bordes superior e inferior */
.panel{
  border-style: solid;
  border-radius: 5px;
  border-width: 2px 0px;
  padding: 15px;
}

.seccion-principal,
.panel.seccion-principal
{
  background-color: blanchedalmond;
  border-color: burlywood;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.seccion-secundaria,
.panel.seccion-secundaria
{
  background-color: #dfecfc;
  border-color: burlywood;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.seccion-secundaria .alert-info
{
  background-color: #cee3fd;
  border-color: rgb(191, 195, 255);
}

th, td {
  padding: 5px;
}

.overflow {
  overflow: scroll;
}

input {
  width: 100%;
}

.input {
  padding-top: 10px;
  padding-bottom: 10px;
}
