{% extends 'base.html' %}

{% block head%}

{% endblock%}

{% block body %}
<h2>Seleccione un archivo</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <div class="row">
			<div class="col-lg-8 col-lg-offset-1">
				<div class="input">
					<label for="csv"><h4>archivo csv</h4></label>
					<input class="form-control" type="file" name="csv" autocomplete="off" required>
				</div>
			</div>
		</div>
    <div class="row">
			<div class="col-lg-8 col-lg-offset-1">
				<div class="input">
					<label for="properties"><h4>archivo properties</h4></label>
					<input class="form-control" type="file" name="properties" autocomplete="off" required></h4>
				</div>
			</div>
		</div>
	<div class="row">
		<div class="col-lg-3 col-lg-offset-1">
			<div class="input">
				<input class="form-control btn btn-primary" type="submit" value="Submit">
			</div>
		</div>
	</div>
</form>
{% endblock%}